.Container{
    padding : 10px;
    border : 1px solid grey;
    border-radius : 5px;
    margin : 10px 0px;
    width : auto;
    .Options{
        padding : 5px 0px;
        label{
            margin-left : 10px;
        }
    }
}